.mainName {
   color: blue;
}
.headName {
   color: rgb(64, 126, 147);
}
.main-main {
   color: rgb(224, 49, 221);
}
.main {
   color: rgb(160, 36, 109);
}
.additionMain {
   color: rgb(196, 51, 97);
}
span {
   color: rgb(48, 161, 22);
}